/*
 * Palette: https://colorhunt.co/palette/2c39303f4f44a27b5cdcd7c9
 * #2C3930 darker green
 * #3F4F44 lighter green
 * #A27B5C darker beige
 * #DCD7C9 lighter beige
 */

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

#product-overview {
    background: #2C3930;
    padding: 20px;
    border: 5px #A27B5C solid;
    margin: 20px;
}

#plans {
    background: #3F4F44;
    padding: 20px;
    border: 5px #DCD7C9 solid;
    margin: 20px;
}

#plans p {
    color: #DCD7C9;
}

/* a combinator; only h1 children (direct or indirect) of id product-overview apply this style */
#product-overview h1 {
    color: #A27B5C;
    font-family: "Anton", sans-serif;
}

.section-title {
    color: #DCD7C9;
    /*
     * increase specificity of inheritance and get font-family from body tag
     * only applies to this class; we would have to add this to other classes too
     * if we want inherit the font-family from body as well;
     * better use a combinator on h1 selector
     */
    /*font-family: inherit;*/
}

/*
 * Four possible combinators:
 * (applies only to the last one tag in the chain of selectors)
 * + Adjacent sibling (only a direct sibling)
 * div + p {
 * ...
 * }
 *
 * ~ General sibling (all siblings)
 * div ~ p {
 * ...
 * }
 *
 * > Child (only a direct child)
 * div > p {
 * ...
 * }
 *
 * /whitespace/ Descendant (any child, direct or indirect)
 * div p {
 * ...
 * }
 */